<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href={{ url_for('static', path='css/main.css') }}>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <h3>The Ayo Game</h3>
        </header>
        <section id="board" class="board-section">
            <div class="board">
                <div class="board-grid">
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
                    <div class="board-hole">
                        <div class="seeds">
                            1
                        </div>
                    </div>
            </div>
        </section>
    </body>
    <script src="../static/js/main.js"></script>
</html>